
.acordeon {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid white;
    border-radius: 1rem;
    margin: 1rem 0;
    transition: .25s;
}
.acordeon.open,
.acordeon:hover {
    background-color: rgb(29, 13, 104);
    border-color: rgb(29, 13, 104);
}
.acordeon .content {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: .25s opacity ease-in-out;
    
}
.acordeon .trigger {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: white;
    border: none;
    font-weight: 700;

}
.acordeon .trigger::hover {
    cursor: pointer;
}

.acordeon .trigger::after {
    content: '';
    display:inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-size: contain;
    background-image: url('../img/icons/set.svg');
    background-repeat: no-repeat;
    transition: .30s;

}
.acordeon.open .trigger::after {
    transform: rotate(180deg);
}

.acordeon.open .content {
    display: block;
    height: auto;
    opacity: 1;
    padding: 0 1rem 1rem 1rem;
}
